﻿@model IEnumerable<WAPASS.Models.Product>

@{
    ViewBag.Title = "Index";
}

    <h2>Product management</h2>

<p>
    <a href="/Products/Create">Create <i class='fas fa-plus-circle' style='font-size:24px;color:orange'></i></a>
</p>
<table class="table">
    <tr class="info">
        <th>
            Category
        </th>
        <th>
            Name
        </th>
        <th>
            Supplier Id
        </th>
        <th>
            Quantity Per Unit
        </th>
        <th>
            Unit Price
        </th>
        <th>
            Units In Stock
        </th>
        <th>
            Units On Order
        </th>
        <th>
            Reorder Level
        </th>
        <th>
            Discontinued
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Category.CategoryName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SupplierID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QuantityPerUnit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UnitPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UnitsInStock)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UnitsOnOrder)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReorderLeve)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Discontinued)
    </td>
    <td>
        <a href="/Products/Details/@item.ProductID"><i class='fas fa-info-circle' style='font-size:24px; color: blue'></i></a>
    </td>
    <td>
        <a href="/Products/Details/@item.ProductID"><i class='fas fa-wrench' style='font-size:24px; color: green'></i></a>
    </td>
    <td>
        <a href="/Products/Delete/@item.ProductID"><i class='far fa-trash-alt' style='font-size:24px;color:red'></i></a>
    </td>
</tr>
}

</table>
