﻿@model IEnumerable<WAPASS.Models.Category>

@{
    ViewBag.Title = "Index";
}

    <h2>Category management</h2>

<p>
    
    <a href="/Categories/Create">Create <i class='fas fa-plus-circle' style='font-size:24px;color:orange'></i></a>
</p>
<table class="table table-hover">
    <tr class="info">
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Picture
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.Pricture)" style="width: 100px; height: 100px">
        </td>
        <td>   
            <a href="/Categories/Details/@item.CategoryID"><i class='fas fa-info-circle' style='font-size:24px; color: blue'></i></a>
        </td>
        <td>
            <a href="/Categories/Edit/@item.CategoryID"><i class='fas fa-wrench' style='font-size:24px; color: green'></i></a>
        </td>
        <td>
            <a href="/Categories/Delete/@item.CategoryID"><i class='far fa-trash-alt' style='font-size:24px;color:red'></i></a>
        </td>
    </tr>
}

</table>
