﻿
@{
    ViewBag.Title = "Index";
    var listTransaction = ViewBag.DetailTransaction;
}

<h2>Index</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Product</th>
            <th scope="col">TypeProduct</th>
            <th scope="col">Brand</th>
            <th scope="col">Employee F.Name</th>
            <th scope="col">Employee L.Name</th>
            <th scope="col">CreateAt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in listTransaction) {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.NameProduct</td>
                <td>@item.TypeProduct</td>
                <td>@item.Brand</td>
                <td>@item.EmpFirstName</td>
                <td>@item.EmpLastName</td>
                <td>@item.CreateAt</td>
            </tr>
        }
    </tbody>
</table>


